/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 10px ;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f0ef;
    color: #a3242e;
    line-height: 1.6;
  }

  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Cabeçalho */
  header {
    background-color: #a3242e;
    color: #f2f0ef;
    padding: 20px;
    text-align: center;
  }
  

  .voltar {
    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
    background-color: #f2f0ef;
    color: #a3242e;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .voltar:hover {
    background-color: #771c23;
    color: #f2f0ef;
  }
  

  
  .photo-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .intro h1 {
    font-size: 36px;
    color: #333;
  }
  



  .intro p {
    margin: 10px 0;
  }
  
  .contact a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .contact a:hover {
    background-color: #555;
  }
  
  /* Seções */
  main {
    display: flex;
  flex-direction: row;
flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
  
  }
  
  .skills {
   
    padding: 20px;
    border-radius: 10px;
    width: 100%;

  }
  
h5{
color: #f2f0ef ;
font-size: 50px;
text-align: center;
}


.icons {
  
  
display: flex;
width: 100%;
height: 100px;
gap: 200px;
justify-content: center;
 }

 .Linha-divisoria {
  content: ''; /* Necessário para que o pseudo-elemento seja exibido */
  display: block; /* Para que o pseudo-elemento ocupe um espaço na tela */
  width: 100%; /* Para a linha ir de um lado ao outro */
  height: 2px; /* Espessura da linha */
  background-color: #a3242e; /* Cor da linha */
  margin-top: 0px; /* Espaço acima da linha */
  border-radius: 10px;

}




.software {
 
    padding: 20px;
  color: #f2f0ef;
    background-color: #a3242e;
    border-radius: 10px;
   width: 100%;
   height: 350px;

}

.intro h3{
color: #a3242e;
font-size: 45px;
font-style: normal;

}


.intro {

font-size: 30px ;
    padding: 20px;
   
    border-radius: 10px;
width: 100% ;
align-items: center;
text-align: center;
}

  h2 {
    margin-bottom: 10px;
    color: #a3242e;
font-size: 65px;  }

  ul {
    list-style-type: none;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  .header a {

    display: inline-block;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #f2f0ef;
   color: #a3242e;
   
    border-radius: 5px;
    


  }

li{
width: 90%;
font-size: 50px;
}

  .capa-soft {
   width: 200px;
   height: 200px;
   border-radius: 5px;
   align-items:center;
  }


  @media (max-width: 768px){

    main {
      display: flex;
    flex-direction: column;
      gap: 20px;
      padding: 10px;
    }

.intro, .software, .skills {
font-size: 20px;
width: 100%;

}

.capa-soft {

  width: 40%;
}

  }