/* Reset e configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}



.carrossel-Wemix{

  width: auto;
height: auto;
  display:flex;
  gap: 5px;
  align-items:center;

}

/* cada item */
.item{
  flex:0 0 60vw;
}

/* imagens */
.Carrossel-IMG{
  width:20%;
  height: auto;
  border-radius:10px;
  
}